*,
*::before,
*::after {
	box-sizing: border-box;
}
*{
	padding: 0;
	margin: 0;	
}
body{
	background-color: #FFFFFF;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	
}
.sctn{
	width: 100vw;
	height: 100vh;
}
header{
	width: 100vw;
	height: 100vh;
}
#hdr-img{
	z-index: 0;
	width: 100vw;
	height: 100vh;
}
#nvgtn{
	width: 100vw;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
   background-color: rgba(255, 0, 0, 0.4);

   z-index: 1;
	color: black;
}
nav{
	display: flex;
	justify-content: space-evenly;
   
}