*,
*::before,
*::after {
	box-sizing: border-box;
}
*{
	padding: 0;
	margin: 0;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root{
--bg-color: #131D24;
	
}
body{
	background-color: var(--bg-color);
	
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	
}
main{
	display: flex;
	justify-content: center;
}
#firstImg{
	z-index: 0;
	width: 100vw;
	height: 100vh;
	border-radius: 150px 150px 0px 0px;
}
nav{
	width: 66.66vw;
	height: 4.29vh;
	max-width: 960px;
	margin-left: 16.6vw;
	margin-right: 16.6vw;
	margin-top: 1.9vh;
	border-radius: 99px;
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 17vw;
	font-size: 0.833vw;
	line-height: 1.057vw;
	z-index: 1;
	background-color: #FAEACA;
	box-shadow: 0px 4px 4px 0px #00000040;
	padding-left: 1.389vw;
	padding-right: 0.347vw;

}
.navbar-button {
	width:10.556vw;
	height:3.317vh;
	background-color: #5F888A; 
	color: white;
	border: none;
	border-radius: 99px;
	cursor: pointer;
	line-height: 1.773vh;
	font-size: 0.972vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	max-width: 100%;
	max-height: 100%;

}
.bttn-txt{
	background-color: #5F888A; 
	color: white;
	border: none;
	cursor: pointer;
}


.links{
	display: flex;
	justify-content: space-evenly;
	gap: 2.778vw;
	color: #4A3211;
	cursor: pointer;
}


section.second{
	width: 100vw;
	height: 100vh;
   padding: 11.366vh  16.667vw 11.366vh 16.667vw;
   display: flex;
	justify-content: space-between;
	align-items: baseline;
	gap: 8.611vw;

}
.item{
	width: 16.481vw;
	height: 34.732vh;
	text-align: center;
}
.item h2{
	color: white;
}
.item p{
	color: white;
	opacity: 0.7;
}
section.three{
	width: 1440px;
	height:  888px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 60px;
   background-image: url(media/e8577d9c4d4a9b4f4c889f645eb176c2.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

h1{
	text-align: center;
	color: white;
	z-index: 1;
	font-family: IM FELL English;
font-size: 36px;
font-weight: 400;
line-height: 45.67px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
button.play {
	height: 34px;
	width: 273px;
	background: linear-gradient(90deg, #FAEACA 50%, #9BB6B3 50%);
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 50px;
	font-family: IM FELL English;
font-size: 12px;
font-weight: 400;
line-height: 15.22px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
cursor: pointer;

 }
 