*{
	
	background-color: black;
}
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #c66868;
	background-color: black;
}

h1 {
	color: #cf8686;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	
}

table {
	width: 100%;
	height: calc(100vh - 80px); 
	border-collapse: collapse;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	
	background-color: black;
}

thead {
	background-color: #555;
	color: white;
	text-transform: uppercase;
	
	background-color: black;
}

thead th {
	padding: 15px;
	font-size: 1.2em;
	border: 1px solid #ddd;
	
	background-color: black;
}

tbody td {
	padding: 10px;
	text-align: center;
	border: 1px solid #ddd;
}

tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
	background-color: #fff;
}

tfoot {
	background-color: #eee;
	font-weight: bold;
	text-transform: uppercase;
}

tfoot td {
	padding: 10px;
	border-top: 2px solid #444;
}

